#our-project-block {
  #op-search-block {
    .elementor-widget-loop-grid {
      .elementor-loop-container {
        .post {
          .elementor-widget-image {
            a {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
